cloud_id                 = "14144112414214411414"
folder_id                = "14144112414214411414"
zone                     = "ru-central1-a"
image_id                 = "14144112414214411414"
public_key_path          = "key.pub"
subnet_id                = "14144112414214411414"
service_account_key_file = "key.json"
private_key_path         = "key"
count_vm                 = "1"
app_disk_image           = "14144112414214411414"
db_disk_image            = "14144112414214411414"
environment_space        = "prod"
