cloud_id                 = "14124124124124124141"
folder_id                = "14124124124124124141"
zone                     = "ru-central1-a"
image_id                 = "14124124124124124141"
public_key_path          = "key.pub"
subnet_id                = "14124124124124124141"
service_account_key_file = "key.json"
private_key_path         = "key"
count_vm                 = "1"
app_disk_image           = "14124124124124124141"
db_disk_image            = "14124124124124124141"
environment_space        = "stage"
